<div class="container">
    <div class="col">
        <div class="row">
            <div class="col">
                <input [(ngModel)]="number1" type="text">
            </div>
            <div class="col">
                <input [(ngModel)]="number2" type="text">
            </div>
            <div class="col">
                <input [(ngModel)]="number3" type="text">
            </div>
            <div class="col">
                <input [(ngModel)]="number4" type="text">
            </div>
        </div>
        <div class="row">
            <input [(ngModel)]="name" type="text">
        </div>
        <div class="row">
            <button (click)="limpiar()">Limpiar</button>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-inner">
                <div class="front">
                    <img [src]="imgSrc" class="map-img">
                    <div class="row">
                        <img src="https://i.ibb.co/G9pDnYJ/chip.png" width="60px">
                        <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="60px">
                    </div>
                    <div class="row card-no">
                        <p>{{ number1 }}</p>
                        <p>{{ number2 }}</p>
                        <p>{{ number3 }}</p>
                        <p>{{ number4 }}</p>
                    </div>
                    <div class="row card-holder">
                        <p>CARD HPLDER</p>
                        <p>VALID TILL</p>
                    </div>
                    <div class="row name">
                        <p>{{ name }}</p>
                        <p>10 / 25</p>
                    </div>
                </div>
                <div class="back">
                    <img [src]="imgSrc" class="map-img">
                    <div class="bar"></div>
                    <div class="row card-cvv">
                        <div>
                            <img src="https://i.ibb.co/S6JG8px/pattern.png">
                        </div>
                        <p>824</p>
                    </div>
                    <div class="row card-text">
                        <p>this is a virtual card design using HTML and CSS. You can aslo design something like this.</p>
                    </div>
                    <div class="row signature">
                        <p>CUSTOMER SIGNATURE</p>
                        <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="80px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>